@font-face { 
  font-family: 'Roboto'; 
  src: url('../font/roboto.woff2') format('woff2'), 
       url('../font/roboto.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Roboto'; 
  src: url('../font/robotobold.woff2') format('woff2'), 
       url('../font/robotobold.woff') format('woff'); 
  font-weight: bold; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Roboto'; 
  src: url('../font/robotomedium.woff2') format('woff2'), 
       url('../font/robotomedium.woff') format('woff'); 
  font-weight: 500; 
  font-style: normal; 
}

body{
    margin: 0;
    padding: 0;
}

/************* global styles ************/

.g-visually-hidden{
    display: none;
}

/************* global classes **********/

.header{
    width: auto;
    
    background-color: #eee;
}

.header_nav{
    display: flex;
    align-items: center;
    width: 1160px;
    height: 125px;
    margin: 0 auto;
}

.header_logo{
    width: 160px; 
    height: 65px;
    margin-right: 180px;
    margin-top: 35px;
}

.header_logo:hover{
    fill: #a6a6a6;
}

.header_menu{
    display: flex;
    width: 435px;
    padding-top: 55px;
}

.header_menu-item{
    list-style-type: none;
    padding-right: 40px;
}

.header_menu-link{
    text-decoration: none;
    
    font-family: "Roboto", "Tahoma", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
}

.header_menu-link:hover{
    color: #fb565a;
}

.header_menu-link:active{
    color: #a6a6a6;
}

.header_bag{
    position: relative;
    margin-left: auto;
}

.header_bag::before{
    content: "";
    position: absolute;
    top: 62px;
    left: 0;
    background-image: url("../img/cart-icon.svg");
    background-position: 50% 50%;
    width: 15px;
    height: 15px;
}

.header_bag-link{
    text-decoration: none;
    
    font-family: "Roboto", "Tahoma", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
}

.header_bag-link:hover{
    color: #fb565a;
}

.header_bag-link:active{
    color: #a6a6a6;
}

.header_bag-item{
    list-style-type: none;
    margin-top: 55px;
}

.main{
    width: auto;
    
    background-color: #eee;
}

.slider{
    width: 1160px;
    margin: 0 auto;
   
    
    background-image: url("../img/slider-1.png");
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

.slider_list{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.slider_slide{
    width: 50%;
    height: 420px;
    
    font-family: "Roboto", "Arial", sans-serif;
    list-style-type: none;
}

.slider_slide-title{
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin: 0;
    padding-top: 66px;
}

.slider_slide-text{
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    width: 430px;
    padding-top: 11px;
}

.slider_slide-button{
    display: block;
    box-sizing: border-box;
    width: 240px;
    height: 50px;
    background-color: #fb565a;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding-top: 16px;
    margin-top: 40px;
    
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.slider_slide-button:hover{
    background-color: #e74246;
}

.slider_slide-button:active{
    background-color: #d7373b;
    color: #e37376;
}

.slider_slide-link{
    text-decoration: none;
}

.slider_controls{
    position: relative;
    list-style-type: none;
}

.slider_control-item{
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 18px;
    height: 18px;
    color: #000;
}




    
