@font-face { 
  font-family: 'Roboto'; 
  src: url('../font/roboto.woff2') format('woff2'), 
       url('../font/roboto.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Roboto'; 
  src: url('../font/robotobold.woff2') format('woff2'), 
       url('../font/robotobold.woff') format('woff'); 
  font-weight: bold; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Roboto'; 
  src: url('../font/robotomedium.woff2') format('woff2'), 
       url('../font/robotomedium.woff') format('woff'); 
  font-weight: 500; 
  font-style: normal; 
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
}

.header{
    width: 1440px;
    height: 545px;
    
    background-color: #eee;
}

.header_nav{
    display: flex;
    align-items: center;
    width: 1160px;
    height: 125px;
    margin: 0 auto;
}

.header_logo{
    width: 160px; 
    height: 65px;
    margin-right: 180px;
}

li{
    list-style-type: none;
}

.header_menu{
    display: flex;
    justify-content: space-between;
    width: 485px;
    padding-top: 10px;
    
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    color: #000;
}

.header_menu-item{
    text-decoration: none;
}

.header_bag{
    display: flex;
    margin-left: auto;
}

.header_bag::before{
    content: "";
    position: absolute;
    top: 55px;
    left: 1185px;
    background-image: url("../img/cart-icon.svg");
    background-position: 50% 50%;
    width: 15px;
    height: 15px;
}

.header_bag-link{
    text-decoration: none;
}

.slider{
    width: 1160px;
    height: 420px;
    margin: 0 auto;
    
    background-image: url("../img/slider-1.png");
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

.slider_slide h3,
.slider_list{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.slider_slide{
    display: block;
    width: 50%;
    height: 270px;
}

.visually-hidden{
    display: none;
}

.slider_slide-title{
    font-family: Roboto, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    padding-top: 60px;
    margin-bottom: 40px;
}

.slider_slide-text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    width: 430px;
}

.slider_slide-button{
    width: 240px;
    height: 50px;
    background-color: #fb565a;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 25px;
    cursor: pointer;
    
    font-size: 16px;
    line-height: 18px;
}

.slider_slide-link{
    text-decoration: none;
}









    
